<h1> ALL INDUSTRIES OUT THERE!!  </h1>
<%= link_to 'Add a New Industry', new_industry_path %>
<hr>

<table>
  <tr>
    <th>
      Industry Name
    </th>
    <th>
      Created At
    </th>
    <th>
      Updated At
    </th>
  </tr>


  <% @industries.each do |industry| %>
  <tr>
    <td>
      <%= link_to industry.name, industry_path(industry) %>
    </td>
    <td>
      <%= industry.created_at   %>
    </td>
    <td>
      <%= industry.updated_at %>
    </td>
  </tr>
<% end %>

<% @industries.each do |industry| %>
<% @companies.each do |company| %>
  <tr>
    <td>

    </td>
  </tr>
  <% end %>
  <% end %>

</table>
