<h1> ALL INDUSTRIES OUT THERE!!  </h1>

<hr>

<table>
  <% @industries.each do |industry| %>
  <tr>
    <td>
      <%= link_to industry.name, industry_path(industry) %>
    </td>
    <td>
      <%= industry.created_at %>
    </td>
    <td>
      <%= industry.updated_at %>
    </td>
  </tr>

  <tr>
    <th>
      <%= industry. %>
    </th>
  </tr>
  <% end %>

</table>
