<h1> INDUSTRY SHOW PAGE </h1>

<hr>

<strong> <h3> Name: </h3> </strong>
<strong> <h3> Description: </h3> </strong>
<strong> <h3> Date/Time Created: </h3> </strong>
<strong> <h3> Date/Time Last Updated: </h3> </strong>

<h2> Companies in This Industry </h2>
<table>
  <tr>
    <th>
      co name
    </th>
    <th>
      co name
    </th>
  </tr>


  <tr>
    <td>
      data
    </td>
    <td>
      data
    </td>
  </tr>
</table>
